#!/bin/bash

set -euo pipefail

echo "[chezmoi] osid is: {{ .osid }}"
echo "-----"
chezmoi data

# Pre-flight check function for Ansible - Exit if Ansible is already installed in $HOME/.local/bin
check_ansible_installed() {
    if [[ -x "$HOME/.local/bin/ansible" ]]; then
        echo "[chezmoi] Ansible is already installed in \$HOME/.local/bin."
        exit 0
    fi
}

# Function to check if Ansible exists post-installation and its version - Exit with error if not found
check_ansible_version() {
    if [[ -x "$HOME/.local/bin/ansible" ]]; then
        echo "[chezmoi] Ansible is installed successfully in \$HOME/.local/bin."
        ANSIBLE_VERSION=$("$HOME/.local/bin/ansible" --version | head -n1 | grep -oE '[0-9]+\.[0-9]+\.[0-9]+')
        echo "[chezmoi] Ansible version: $ANSIBLE_VERSION"
    else
        echo "[chezmoi] Ansible did not install properly! Please check the installation logs."
        exit 1
    fi
}

# Function to install Ansible in $HOME/.local/bin using pipx or pip
install_ansible() {
    echo "[chezmoi] Installing Ansible in \$HOME/.local/bin using pip..."
    # Ensure python3 and pip are installed
    {{ if eq .osid "darwin" }}
    if ! command -v python3 &>/dev/null; then
        echo "[chezmoi] Installing python3 via Homebrew..."
        brew install python
    fi
    if ! command -v pip3 &>/dev/null; then
        echo "[chezmoi] Installing pip3 via Homebrew..."
        brew install pipx
    fi
    {{ else if eq .osid "linux-arch" }}
    sudo pacman -S --noconfirm --needed python python-pip
    {{ else if or (eq .osid "linux-debian") (eq .osid "linux-ubuntu") }}
    sudo apt-get update -qq > /dev/null
    sudo apt-get install python3 python3-pip -y -qq > /dev/null
    {{ else if eq .osid "linux-fedora" }}
    sudo dnf install -y python3 python3-pip
    {{ end }}

    # Ensure ~/.local/bin exists and is in PATH
    mkdir -p "$HOME/.local/bin"
    export PATH="$HOME/.local/bin:$PATH"

    # Install Ansible using pip into user local
    python3 -m pip install --upgrade --user pip
    python3 -m pip install --upgrade --user ansible

    check_ansible_version
}

echo "[chezmoi] Prewarming sudo..."
sudo true
echo "[chezmoi] Checking if Ansible is already installed in \$HOME/.local/bin..."
check_ansible_installed
echo "[chezmoi] Ansible not found in \$HOME/.local/bin! Proceeding with installation..."
echo "[chezmoi] This may take a while, please be patient..."
install_ansible
echo "[chezmoi] Ansible installation completed successfully in \$HOME/.local/bin!"